@media (max-width: 600px) { /* 600px es solo un ejemplo */
  .main-section{
    margin-top: 10vh;
    padding:3%;
    height: auto;
  }
  .products{
    display: inherit;
    height: auto;
    padding:5%;
    
    
    }
  .product{
    margin-top: 3vh;
   

  }
  .product .content{
    height: auto;
    padding: 10px;
    margin-top: auto;
  }
  .container-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
   
  }
  .container-users{
    flex-direction: column;
    align-items: center;

    
  }
  .user{
    width: 220px;
  }
  /* product */

  .main-Product{
    height: auto;
  }
  .container-product{
    margin-bottom: 17.7vh;

  }

  /* -----------form */
  .container_form{
    height: 50vh;
    width: 70vw;
  }
  .container_form form {
    width: 100%;
  }
  .container_form form  input{
    width: 100%;
  }
  form{
   width: 80%;
  }


  /* ---------------------------pag venta */
 .cont-sell {
   flex-direction: column;

 }
  .container_imgProductSell{
    justify-content: center;
   
    
  }
  .container_imgProductSell img{
    max-width:300px ;
    margin-right: 40px;
    box-shadow: var(--box);
  }
  .module-pay{
   display: flex;
   justify-content: center;
   max-width: 300px;
   padding: 3px;

  }
  .text_Container-sell{
    max-width: 300px;
  }
  
  
}